<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Linguistics 111 Resources</title>
  <meta name="description" content="Resources for Ling 111 students at the UofS">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
     body {
       padding-top: 50px;
       padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <script src="js/modernizr-2.6.2.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-ui-router.min.js"></script>
<script src="js/ui-bootstrap-tpls.min.js"></script>
</head>

<body class="ng-cloak">
   <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed=true" ng-click="navCollapsed = !navCollapsed"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/main">Linguistics 111 - Testing</a>
        </div>

        <div class="collapse navbar-collapse" ng-class="{in: !navCollapsed}" >
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-click="console.log($event)">
                    <a role="button" class="dropdown-toggle"> Menu <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a ng-init="clicked = false" ui-sref="main">Home</a></li>
                        <li><a ng-init="clicked = false" ui-sref="slides">Slides</a></li>
                        <li><a ng-init="clicked = false" ui-sref="book">Textbook</a></li>
                        <li><a ng-init="clicked = false" ui-sref="handouts">Handouts</a></li>
                        <li><a ng-init="clicked = false" ui-sref="quizzes">Quizzes</a></li>
			<!-- <li><a ng-href="/wiki">Wiki</a></li> -->
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="form" ng-controller="AuthCtrl" ng_submit="login(creds)">
                <div class="input-group">
                    <input type="text" placeholder="Your NSID" class="form-control" ng-model="creds.nsid">
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Your student number" class="form-control" ng-model="creds.snum">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div>

    </nav>
  <div class="container-fluid">

      <div ui-view></div>

      <hr>

      <footer>
        <p>&copy; Peter Wood 2014</p>
      </footer>
  <script src="/@@webdir@@/js/app.js"></script>
  <script src="/@@webdir@@/js/controllers.js"></script>
  <script src="/@@webdir@@/js/quizstuff.js"></script>
  <script src="/@@webdir@@/js/filters.js"></script>
  <script src="/@@webdir@@/js/directives.js"></script>
  <script src="/@@webdir@@/js/factories.js"></script>
  <script src="/@@webdir@@/js/spark-md5.min.js"></script>
  </div>
</body>
</html>
