<div class="container" ng-controller='HandoutsCtrl'>
    <h2>Handouts</h2>
    <br/><br/>
    <div ng-show="list" class='list-group'>
	<a class='list-group-item' ng-click="download(item)" ng-repeat="item in result"> 
            {{item}}
        </a>
    </div>
    <div ng-show='fileName' class='container pagination-centered' style="width:90%;">
	<div class='text-center'><a target="_blank" ng-href="{{fileName}}">Download</a> </div>
	<br/> 
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" ng-src="{{fileName}}"></iframe>
        </div>
    </div>
    <div ng-hide='valid'>
        <h3>You are not logged in, or your session has expired. Please log
            in.</h3>
    </div>
</div>


