<div class="jumbotron">
      <div class="container">
        <h1>Welcome</h1>
        <p>Here you can find resources for Linguistics 111. Some of the
        material can only be accessed by my Ling 111 students and users are
        required to log in to see it.</p>
      </div>
</div>


<div class="container">
	<h2>Quiz 2 Results online</h2>
	<p>Average: 24.1 / 30 -> 80%</p>
	<h2>Quiz 1 Results online</h2>
	<p>Average: 23.7 / 30 -> 79%</p>
	<h2>Second Quiz</h2>
	<p>Quiz 2 will open on Thursday after the lecture and will close on Sunday at 11:59 pm (4 days).</p>
	<p>It is open book, will consist of 30 random questions from our test bank, and you will have 50 minutes to complete it.</p>
	<p>Once you start the quiz the timer is running. You only have one attempt.</p>
	<p>A practice quiz consisting of 10 questions will be available by Wednesday afternoon. Its purpose is to make you acquainted with the question types and the user interface. You can repeat it as often as you like. Results will not influence your marks in any way. The time limit is 10 minutes.</p>

	<h2>Tutorials</h2>
	<p>Dear participants,</p>
	<p>Sandra Mattson will be your tutorial leader for this term.  
	She will be offering tutorials on</p>
	<ul>
		<li>Tuesdays, 4:00 - 4.50 in Arts 1008 and</li>
		<li> Thursdays, 1:30 - 2.20 in Arts 907.</li>
	</ul>

	<p>Please try to attend one tutorial per week.  
	If you have any special requests on what to 
	review/practice send an e-mail to Sandra, or to myself.</p> 

	<p>Thank you, Sandra, for agreeing to teach our tutorials.</p>
</div>


